**/outputs
**/checkpoint
**/release
**/resources/DBpedia-text
**/resources/DBpediaP/*
**/resources/DBpedia-politics
**/resources/DBpedia-politics/*
**/resources/DBpedia-politics.zip
**/resources/NELL-995*
**/resources/umls2
**/resources/FB15K237
**/java_owlapi/resources
java_owlapi/TBoxTREAT/dependency-reduced-pom.xml
**/.idea
.pyenv
**/workspace.xml
**/__pycache__
.DS_Store
*/**/*.iml
*/**/run_*_n*.sh
*/**?run_*_t*.sh
*/**?run_*_d*.sh
*/**/Base.so

/resources/DBpedia-politics.zip
/resources/DBpedia-politics/
