**/outputs
**/checkpoint
**/release
**/resources/DBpedia-politics
**/resources/DBpedia-text
**/.idea
.pyenv
**/workspace.xml
**/__pycache__
.DS_Store
*/**/*.iml
*/**/run_*_n*.sh
*/**?run_*_t*.sh
*/**?run_*_d*.sh

