**/outputs
**/checkpoint
**/release
**/resources/DBpedia-text
**/resources/DBpediaP
**/resources/DBpedia-politics/*
**/resources/DBpedia-politics.zip
**/.idea
.pyenv
**/workspace.xml
**/__pycache__
.DS_Store
*/**/*.iml
*/**/run_*_n*.sh
*/**?run_*_t*.sh
*/**?run_*_d*.sh

/resources/DBpedia-politics.zip
